{erl_opts, [{src_dirs, ["src"]}]}.
{deps_dir, ["deps"]}.
{deps, [
        { rebar_elixir_plugin, ".*",
          {git, "git://github.com/yrashk/rebar_elixir_plugin"}},
        { elixir, "0.12.*",
         {git, "git://github.com/elixir-lang/elixir"}}
       ]}.

%% elixir specific
{plugins, [rebar_elixir_compiler, rebar_exunit] }.
{lib_dirs, [
            "deps/elixir/lib"
           ]}.

{ex_opts, [{src_dirs, ["lib"]}]}.
